/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
.bennar-contant{
  height: auto !important;
  padding: 0px !important;
}
.bennar-section{
  height: auto !important;
}
.bennar-contant h1{
  margin-right: 0px !important;
  font-size: 40px !important;
}
.bennar-contant p{
  padding-right: 0px !important;
}
.bennar-img{
  width: auto !important ;
  margin-left: 0px  !important ;
}



}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
 .bennar-contant{
  height: auto !important;
  padding: 0px !important;
}
.bennar-section{
  height: auto !important;
}

.bennar-contant h1{
  margin-right: 0px !important;
}
.bennar-contant p{
  padding-right: 0px !important;
}
.companies-img img {
  margin-right: 40px !important;
  margin-left: 58px !important;
  margin-bottom: 10px !important;
} 



}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */
 .bennar-section{
    height: auto !important;
    margin-top: 40px !important;
  }
  .bennar-img{
    width: auto !important;
  }
  .bennar-img img {

    margin-left: 12px !important;
  }
  .bennar-contant{
    height: auto !important;
    padding: 0px !important;
    text-align: center !important;
  }
  .bennar-contant h1{
    margin-right: 0px !important;
  }
   .bennar-contant p {
     padding-right: 0px !important;
   }
.edits-text{
  width: auto !important;
}
.edits-icon{
  top: 99px !important;
}
.companies-section h3{
  margin-bottom: 50px;
}
.companies-img img {
  
  display: block !important;
  margin: auto !important;
  margin-bottom: 50px !important;
}

.features-section{
  padding-top: 0px !important;
      margin-top: -90px !important;
      }
}
.features-left{
  width: auto !important;
}
.companies-section h3{
  margin-bottom: 30px !important;
}
.features-right{
  text-align: center;
}
.f-top h2{
  padding-right: 0px !important;
}
.f-top p{
  margin-right: 0px !important;
}
.per-text p{
  margin-right: 0px !important;
}
.p-imgs {
  margin-top: 25px !important;
  margin-left: 130px !important;
  margin-bottom: 5px !important;
}
.smart-left h2{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.smart-section {
  text-align: center !important;
}
.smart-right p{
  margin-right: 0px !important;
}
.sm-textall{
  padding: 0px !important;
  text-align: left !important;
}
.Designed-img {
  width: auto ;
}
.Designed-img img {
  width: 100%;
}
.choose-top h2{
  padding: 0px !important;
}
.choose-top p{
padding: 0px !important;

}
.cc-text p{
  padding: 0px !important;
}
.choose-bottom{
  padding: 0px !important;
}
.ultimate-contant{
  margin-left: 0px !important;
}
.ultop-text h2{
  margin-right: 0px !important;
}
.ultop-text p{
  margin-right: 0px !important;
}
.ultimate-contant{
  text-align: center !important;
}
.all-cards .ult-contant{
  text-align: center !important;
}
.ul-text{
  text-align: center !important;
}
.ul-text p{
  margin-right: 0px !important;
}
.ul-div{
  margin: auto !important;
}
.ultimate-img{
  width: auto !important;
      margin-top: 30px;
}
.meet-left {
  width: auto !important;
}
.meet-right{
  margin-right: 0px !important;
  text-align: center !important;
      margin-top: 30px;
}
.mtext-top h2{
  margin-right: 0px !important;
}
.mtext-top p {
  margin-right: 0px !important;
}
.mtext-middle p{
  margin-right: 0px !important;
      padding: 10px;
}
.mtext-icon{
  margin-left: 110px !important;
}
.Frequently-section{
  padding: 0px !important;
}
.acc{
  padding: 0px !important;
}
.downl-contant{
  margin-left: 0px !important;
}
.downl-top p{
  margin-right: 0px !important;
}
.downl-img {
   width: auto !important; 
   margin-left: 0px !important; 
  margin-bottom: -25px !important;
  margin-top: 20px !important;
} */













}